<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>This is Add Contact</title>
</head>

<body>
	<section>
		<div class="card mx-3 mb-3">
			<div class="card-cody">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form th:action="@{/user/process-contact}" th:object="${contact}"
								enctype="multipart/form-data" method="post" class="my-2">

								<!--First Name Field-->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text" style="display: block;">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" id="firstName" name="name" placeholder="Enter Name here"
										class="form-control" required />

								</div>

								<!--Second Name Field-->
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text" style="display: block;">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<input type="text" id="secondName" name="secondName"
										placeholder="Enter Nick Name here" class="form-control" required />

								</div>

								<!--Phone Field-->
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text" style="display: block;">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input type="number" min="10" id="phone" name="phone"
										placeholder="Enter Phone Number here" class="form-control" required />

								</div>

								<!--Email Field-->
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text" style="display: block;">
											@
										</div>
									</div>
									<input type="email" id="email" name="email" placeholder="Enter Email here"
										class="form-control" required />

								</div>

								<!--Work Field-->
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text" style="display: block;">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input type="text" id="work" name="work" placeholder="Enter work here"
										class="form-control" required />
								</div>

								<!--Contact Discription-->
								<div class="form-group mt-2">
									<textarea class="form-control" name="description" rows="5px"
										placeholder="Enter contact description" id="tiny"></textarea>
								</div>

								<!--Contact image-->
								<div class="custom-file mt-2">
									<input type="file" name="profileImage" />
								</div>

								<div class="container text-center pt-2">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector: 'textarea#tiny'
			});
		</script>
		<script>
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#add-link").addClass("active");
			})

		</script>
	</section>
</body>

</html>