<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>This is Home Page</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>
				Smart Collecting your contacts in very smarter way. We provide very efficient and smarter way of handling contacts.
			</p>
			<button class="btn bg-primary btn-lg text-white">Get Start</button>
		</div>
	</section>
</body>

</html>